.social__profile {
    display: flex;
    flex-direction: row;
}

.item-social {
    display: flex;
    margin-right: 20px;
    
    color: white;
    font-size: 20px;
    
    > :first-child {
        margin-right: 10px;
        font-weight: bold;
    }
}