.wrapper-dialog-window {
    width: 100%;
    height: 100%;
}

.place-for-message {
    overflow: left scroll;
}

.interlocutor {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 15px;

    span {
        display: flex;
        height: 40px;
        align-items: center;
        padding: 5px;
        border: 1px solid black;
        border-radius: 30px;
    }
}

.you-message {
    text-align: right;
    margin-bottom: 15px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;

    span {
        background-color: rgb(132 129 129 / 20%);
        display: flexbox;
        height: 40px;
        align-items: center;
        padding: 15px;
        border: 1px solid black;
        border-radius: 30px;
    }
}

.wrapper-input {
    display: flex;
    width: 100%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;

    textarea {
        box-shadow: none;
        border: none;
        outline: none;
        resize: none;
    }

    &__textarea {
        width: 100%;
        font-size: 18px;
    }

    &__submit {
        width: 40px;
        background: url('https://deploy-preview-19--tubular-hummingbird-1be2ec.netlify.app/8c2d4d902321820398f2.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        cursor: pointer;
    }
}
