.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 40px;
  background-color: #adc9d7;
}

.years__footer {
  display: flex;
  > h3 {
    font-size: 20px;
    margin-right: 20px;
  }

  > span {
    display: inline-block;
    width: 150px;
    background-image: url('../../../../shared/Assets/svg/rs_school_js.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.authors__footer {
  display: flex;
  align-items: center;
  
  h3 {
    margin-right: 10px;
  }
}

.list__footer {
  display: flex;

  :last-child {
    margin-right: 0;
  }
}

.item__footer {
  margin-right: 5px;
  list-style: none;
}

.link__footer {
  display: flex;
  align-items: center;
  color: #101aa2;
  text-decoration: none;

  span {
    width: 20px;
    height: 20px;
    background-image: url('../../../../shared/Assets/image/github-mark-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
  }
}
