.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories {
    max-width: 570px;
    height: 118px;
    padding: 17px 0px;
    overflow-x: hidden;
    position: relative;

    &__wrapper {
        width: 570px;
        height: 84px;
        padding: 1px 0px 1px 1px;
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    &__next {
        position: absolute;
        width: 28px;
        height: 28px;
        right: 35px;
        top: calc(50% - 20px);
        background: url('../../../shared/Assets/icon/arrow-btn.svg');
        cursor: pointer;
    }
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 3px;
    width: 80px;
    height: 82px;

    &__avatar {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: #8e8e8e;
    }

    &__name {
        padding-top: 3px;
        font-size: 14px;
        line-height: 11px;
        text-transform: lowercase;
        color: #262626;
    }
}

.newsline {
    margin-top: 20px;
    width: 570px;
    border-bottom: 1px solid #8e8e8e;

    &__header {
        display: flex;
        align-items: center;
        font-weight: 900;
        margin-bottom: 10px;
    }

    &__main {
        height: 570px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            display: block;
            width: auto;
            height: 100%;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
}

.small-avatar {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

@mixin icon-style {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
    }
}

.icons {
    &-block {
        height: 54px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__like {
        background: url('../../../shared/Assets/icon/like.svg');
        @include icon-style;
    }

    &__comment {
        background: url('../../../shared/Assets/icon/comment.svg');
        @include icon-style;
    }

    &__save {
        background: url('../../../shared/Assets/icon/save.svg');
        @include icon-style;
        margin-left: auto;
    }

    &__like-black {
        background: url('../../../shared/Assets/icon/like-black.svg');
    }
}

.count {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
}

.post {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    position: relative;

    &__nickname {
        font-weight: 900;
        margin-right: 10px;
    }

    &__text {
        height: 37px;
        overflow: hidden;
    }

    &__comment {
        margin-top: 10px;
        color: #8e8e8e;
    }

    &__time {
        margin-top: 5px;
        color: #8e8e8e;
    }
}

.comment {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-top: 10px;

    &__input {
        width: 90%;
        height: 30px;
        padding: 5px;
        outline: none;
        border: none;
        resize: none;

        &::placeholder {
            font-size: 14px;
            line-height: 18px;
            color: #262626;
        }
    }

    &__btn {
        width: 50px;
        height: 30px;
        margin-left: auto;
        border: none;
        font-weight: 900;
        color: #0095f6;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: #00416b;
        }
    }
}

.more-text {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 70px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    top: 53px;
    cursor: pointer;
}

.visible-text {
    visibility: visible;
}